body {
  margin: 0;
  font-family: "Alegreya Sans", sans-serif;
}

/* ******************************************************************
                                NAVBAR
****************************************************************** */

.navBar {
  width: 100vw;
  height: 80px;
  background: #56beb7;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 271px;
  height: 56px;
}

/* ******************************************************************
                           PESTAÑAS
****************************************************************** */

.pestanasBar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.groupPestanas {
  margin-top: 100px;
  width: 500px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pestana {
  font-weight: 700;
  cursor: pointer;
  color: #bfc4b3;
}

#formularioBebe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  gap: 15px;
  margin-bottom: 50px;
}

.tituloPrincipalTutores p:first-of-type {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #254441;
}

.segundoTitulo {
  font-weight: 700;
  width: 100%;
}

/* ******************************************************************
                                AREA DE FORMULARIO
****************************************************************** */
/* abarca toda la pantalla a lo ancho y alto para centrar el formulario */
.container {
  width: 100vw;
  height: 87vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  min-height: 760px;
}

/* abarca area especifica donde esta el titulo y el formulario */
.formSection {
  width: 500px;
  height: fit-content;
  min-width: 400px;
  padding: 5px 15px;
  /* background-color: red; */
  /* min-height: 100vh; */
}

.formSectionRegistro {
  margin-top: 125px;
  width: 500px;
  height: fit-content;
  min-width: 400px;
  padding: 5px 15px;
  /* background-color: red; */
  /* min-height: 100vh; */
}

#formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  /* height: 436px; */
  height: fit-content;
}

/* ******************************************************************
                                TITULO
****************************************************************** */

.tituloPrincipal p:first-of-type {
  font-weight: 700;
  font-size: 30px;
  line-height: 20px;
  color: #254441;
}
.tituloPrincipal > p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1px;
  color: #254441;
}

/* ******************************************************************
                                FORMULARIO
****************************************************************** */
/* configuraciones generales */
input {
  border-radius: 2.5px;
  height: 27px;
}

label {
  font-size: 14px;
}

/* abarca una caja con label e input para organizarlo en direccion columna o fila */
.box {
  width: 200px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
/* para el grupo de una caja por fila: para el caso de el nombre de usuario e email */
.groupSingle {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

/* para el grupo de dos cajas en forma de fila: en el caso de la primera, segunda y quinta fila */
.groupDouble {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

/* ******************************************************************
                               BOTONES
****************************************************************** */

.botones {
  padding-top: 50px;
  width: 100%;
  gap: 24px;
  display: flex;
}

.btnRegister,
.btnCancel {
  font-size: 12px;
  height: 33px;
  width: 50%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnCancel {
  background: #e789ae;
}

.btnRegister {
  background: #56beb7;
}

/* ESTILOS DE SEGUNDO CUESTIONARIO */

/* ******************************************************************
                              FOTO BEBÉ
****************************************************************** */
.fotoBebe {
  width: 150px;
  height: 150px;
  cursor: pointer;
  border-radius: 50%;
  background-image: url(../img/formulario-registro/user.png);
  /* background-image: url(../uploads/bebeperfil.jpg); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: #4b413a;
  margin-bottom: 8px;
}

.fotoBebe img {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 2;
}

#inpFile{
  position: absolute;
  bottom:70px;
  left:200px;
 
}
#btnPhoto{
  position: absolute;
bottom:20px;
  left:200px;
  
}



/* ******************************************************************
                           SECTION:  AGREGAR OTRO NIÑO 
****************************************************************** */

.iconoMas img {
  width: 54px;
  height: 49px;
  cursor: pointer;
}

.directionRow {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

/* ******************************************************************
                           PARA SABER MÁS DE BEBÉ
****************************************************************** */

.boxPregunta {
  width: 60%;
  display: flex;
}

.areaTexto {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.areaTexto input {
  width: 100%;
}

.boxIndique {
  width: 35%;
  display: flex;
}

.discapacidad {
  margin-bottom: 50px;
}

.areaAlergias {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.areaAlergias label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33px;
  width: 91px;
  cursor: pointer;
  border-radius: 3.27273px;
  background-color: #bfc4b3;
}

/* ******************************************************************
                           PARA SABER MÁS DE BEBÉ
****************************************************************** */
.areaBotones {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.botonesSaberMas label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33px;
  width: 91px;
  cursor: pointer;
}

.btnNo {
  background: #57bdb9;
  box-shadow: 0px 0.818182px 3.27273px rgba(0, 0, 0, 0.02),
    0px 0.818182px 0.818182px rgba(0, 0, 0, 0.06);
  border-radius: 3.27273px;
}

.btnSi {
  background: #f5f5f5;
  box-shadow: 0px 0.818182px 3.27273px rgba(0, 0, 0, 0.02),
    0px 0.818182px 0.818182px rgba(0, 0, 0, 0.06);
  border-radius: 3.27273px;
}

/* #btnIngestion, #btnOlfato, #btnTacto{
    background: #f5f5f5;
  box-shadow: 0px 0.818182px 3.27273px rgba(0, 0, 0, 0.02),
    0px 0.818182px 0.818182px rgba(0, 0, 0, 0.06);
  border-radius: 3.27273px;
  width: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.captionInfo {
  font-size: 14px;
  color: #484946;
}

.areaBotones label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  cursor: pointer;
  padding: 7px 7px;
  border-radius: 3.27273px;
  background-color: #bfc4b3;
}

.areaBotones input {
  visibility: hidden;
}

.areaAlergias input {
  visibility: hidden;
}

/* ******************************************************************
               PARA CAMBIAR ASPECTO DEL FORMULARIO CON JS
****************************************************************** */
input {
  outline: none;
}

.red{
 color: red;
}
.border-red {
  border-bottom-color: red;
}

.border-gray {
  border-bottom-color: gray;
}

.border-green {
  border-bottom-color: green;
}

/* .info {
  padding: 10px 15px;
  font-size: 15px;
  color: #254441;
  line-height: 5px;
  width: 470px;
  height: 120px;
} */

.green {
  color: green;
}

.yellow-green {
  border-bottom-color: yellowgreen;
}

.info, .infoBebe, .infoAutorizados {
  padding: 10px 15px;
  font-size: 15px;
  color: #254441;
  line-height: 5px;
  width: 470px;
  height: 40px;
}

/* container alergias */

.containerDos {
  width: 100vw;
  height: 87vh;
  display: none;
  /* align-items: center; */
  justify-content: center;
  min-height: 760px;
}

.green-color {
  color: #56beb7;
}

.selectedBox {
  color: white;
  background-color: #56beb7 !important;
}

/* Para esconder las alergias a menos q indique q Si */

.hidden {
  display: none;
}

.hidden2 {
  display: none;
}

.hidden3 {
  display: none;
}

.hidden4 {
  display: none;
}

/* ******************************************************************
               CONTAINER TUTORES
****************************************************************** */

.containerTres {
  width: 100vw;
  height: 87vh;
  display: none;
  /* align-items: center; */
  justify-content: center;
  min-height: 760px;
}

.infoTutor{
  padding: 10px 15px;
  font-size: 15px;
  color: #254441;
  line-height: 5px;
  width: 470px;
  height: 40px;
}

.hidden5 {
  display: none;
}
/* ******************************************************************
               CONTAINER AUTORIZADOS
****************************************************************** */

.containerCuatro {
  width: 100vw;
  height: 87vh;
  display: none;
  /* align-items: center; */
  justify-content: center;
  min-height: 760px;
}


/* ******************************************************************
               MANEJO DE BLUR EN INPUT FALTANTE
****************************************************************** */
::placeholder{
  color:red;
  font-size: 12px;
  font-style: italic;
  opacity: 0.5;
}

