body {
  margin: 0;
  font-family: "Alegreya Sans", sans-serif;
}

.fondo {
  background: url(../img/login/fondo_colores.jpg);
  width: 100vw;
  height: 100vh;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -2;
}

.container {

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#inicio {

  width: 100%;
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}

#username,
#password {

  width: 226px;
  height: 40px;
  border: 3px solid #d8d1d1;
  margin-top: 16px;
  border-radius: 12px;

}



#btnEntrar {
  background: #57bdb9;
  width: 226px;
  height: 41px;
  margin-top: 16px;
  border-radius: 7px;
}

#btnRegister {
  background: #f2e7ea;
  width: 226px;
  height: 41px;
  margin-top: 11px;
  border-radius: 7px;
}
