body {
    margin: 0;
    font-family: "Alegreya Sans", sans-serif;
  }
  /* *************************************************
              CABECERA CON TÍTULO Y PESTAÑAS
  ************************************************** */
  
  .container {
    width: 100vw;
    min-width: 400px;
  }
  header {
    background: #57bdb9;
    width: 100vw;
    height: fit-content;
  
  }
  .headbar {
    width: 100vw;
    height: 70px;
    background: #57bdb9;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  
   
  }
  
  #cerrarSesion{
    position: absolute;
  
    top:5px;
    right:5px;
  }
  
  
  .opciones {
  
    width: 100vw;
    height: 50px;
    background: #57bdb9;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 21px;
    margin-top: -80px;
  }
  
  .logo img {
    width: 200px;
    height: 40.87px;
  }
  
  .fotoBebe {
    
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-image: url(../img/formulario-registro/user.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -45px;
    margin-left: 30px;
    /* background-color: #4b413a; */
  }
  .btnPestanas {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
    background: #eee0e0;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 145px;
    /* min-width: 100px; */
    height: 48px;
  }
  
  .btnPestanas a{
  text-decoration: none;
    width: 145px;
    height: 35px;
    display: flex;
    justify-content: center;
  align-items: center;
  }
  
                
                
                
                
  .float{
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
  }
  .btnPestanas:hover{
    box-shadow: 0 5px 5px 0 grey,0 5px 5px 0 #000000;
    transform: translate(10px,3px);
    -webkit-transform: translate(10px,3px);
    -moz-transform:translate(10px,3px);
  }
              
            
              
            
  
  
  
  
  
  .imagenydatos {
    margin-top: -7px;
    width: 100vw;
    height: 100px;
    
    /* background: #57bdb9; */
    display: flex;
    width: 650px;
  
    padding-left: 20px;
    padding-bottom: 26px;
  }
  
  .datos {
  
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    height: 100px;
  
    line-height: 0px;
    justify-content: flex-start;
  }
  
  .nombreBebe {
    font-weight: 700;
    font-size: 26px;
    padding: 0px;
    color: #254441;
  }
  
  .edadBebe {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin-top: -3px;
    color: #254441;
  }
  
  @media (max-width: 1290px) {
    .opciones {
     width: 100vw;
      height: 50px;
      background: #57bdb9;
      display: flex;
      align-items: flex-end;
      gap: 21px;
      margin-top: -40px;
    
  }
  .rango, .rango2, .rango3{
      font-size: 11px;
  }
  }
  
  @media (max-width: 900px) {
  
    .opciones{
      gap:2px;
    }
    .imagenydatos {
      margin-top: -2px;
      padding-left: 1px;
      padding-bottom: 26px;
    }
  
    .fotoBebe {
      width: 80px;
      height: 80px;
      margin-top: -2px;
      margin-left: 18px;
      /* background-color: #4b413a; */
    }
  
    .btnPestanas  {
      width: 106px;
      height: 38px;
    }
  }
  
  /* *************************************************
             SECCION PAÑALES
  ************************************************** */
  section {
    height: 336px;
  }
  
  .gris {
    height: 120px;
    background: #eee0e0;
    display: flex;
  }
  
  .colIcono {
    box-sizing: border-box;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .colInfoGrid {
    box-sizing: border-box;
    margin-right: 10px;
    width: 59%;
    display: grid;
    grid-template-columns: repeat(3, 30% 30% 30%);
    grid-template-rows: repeat(5, 1fr);
    /* justify-items: center; */
    align-items: center;
    gap: 10px;
  }
  
  .diaper {
    background: white;
  }
  
  .icono {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icono img {
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .agregar {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  
  .titulo1 {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 5px 10px;
    font-weight: 700;
  }
  
  .consistencia {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 5px 10px;
  }
  
  .btnConsistencia {
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
  }
  
  .btnConsistencia button {
    height: 30px;
    width: 98px;
    background: #ffffff;
    border-radius: 2.98676px;
  }
  
  .iconoMas img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    grid-column: 3/4;
    grid-row: 3/4;
  }
  
  .iconoMas {
    display: flex;
    align-items: center;
    grid-column: 2/3;
    grid-row: 3/4;
  }
  
  .titulo3 {
    grid-column: 1/2;
    grid-row: 4/5;
    font-weight: 700;
    padding: 5px 10px;
  }
  
  .rango {
    grid-column: 2/4;
    grid-row: 4/5;
    display: flex;
    justify-content: space-between;
  }
  
  .titulo5 {
    grid-column: 1/2;
    grid-row: 3/4;
    font-weight: 700;
    padding: 5px 10px;
  }
  
  .rango5 {
    grid-column: 2/4;
    grid-row: 3/4;
    display: flex;
    justify-content: space-between;
  }
  
  
  .rango button,
  .rango2 button,
  .rango3 button {
    height: 29px;
    width: 91px;
    background: #ffffff;
  
    border-radius: 2.79458px;
  }
  
  @media (max-width: 800px) {
    section {
      height: 200px;
    }
    .colInfoGrid {
      box-sizing: border-box;
      margin-right: 10px;
      width: 75%;
      display: grid;
      grid-template-columns: repeat(3, 25% 24% 46%);
      grid-template-rows: repeat(5, 1fr);
      /* justify-items: center; */
      align-items: center;
      gap: 10px;
    }
  
    .colIcono {
      margin-top: 10px;
      height: 230px;
      width: 22%;
  
      background: #f3b90f;
      border: px solid #56beb7;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }
  
    .icono {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
  
    .icono img {
      width: 50px;
      height: 50px;
      background-position: center;
      background-repeat: no-repeat;
    }
  
    .consistencia {
      font-size: 15px;
      grid-column: 2/4;
      display: flex;
      justify-content: center;
      grid-row: 1/2;
      padding: 0px;
    }
  
    .agregar {
      font-size: 12px;
    }
  
    .btnConsistencia {
      grid-column: 2/4;
      grid-row: 2/3;
    }
  
    button {
      font-size: 10.5px;
    }
  
    .titulo1,
    .titulo2,
    .titulo3 {
      font-size: 14px;
    }
  }
  
  /* *************************************************
             SECCION ALIMENTACION
  ************************************************** */
  .white {
    height: 250px;
  
    display: flex;
  }
  
  .apple {
    background: #f5f5f5;
  }
  
  .titulo2 {
    grid-column: 1/2;
    grid-row: 3/4;
    font-weight: 700;
    padding: 5px 10px;
  }
  
  .rango2 {
    grid-column: 2/4;
    grid-row: 3/4;
    display: flex;
    justify-content: space-between;
  }
  
  .rango3 {
    grid-column: 2/4;
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
  }
  
  .siesta {
    background: #ffffff;
  }
  
  /* ************perfil************* */
    
  /* .colIcono{
      background-color: blue;
  } */
  
  .perfilSection {
    padding: 10px 10px 0px 0px;
    height: fit-content; 
    display: flex;
    /* background-color: antiquewhite; */
  
  }
  
  .colInfoPerfil{
  
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 15%;
    padding-bottom: 5%;
    padding-top: 5%;
    
  }
  
  .primerTutor{
  width: 50%;
  
  }
  
  .segundoTutor{
    width: 50%;
  
  }
  
  .colInfoTutores{
  
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 15%;
    padding-bottom: 5%;
    padding-top: 5%;
    gap:5px;
  }
  
  .colTitulo{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tituloBox {
    font-size: 24px;
    background-color: #f3b90f;
    width: 100%;
    height: 110px;
    border-radius: 0px 60px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tituloLabel :first-child{
    font-size: 20px;
    color:#254441;
    font-weight: 700;
  }
  
  .tituloLabel span{
    font-size: 25px;
    font-weight: 200;
    padding-left: 10px;
  }
  
  .yellow{
    background-color: #f3b90f;
  }
  
  /* Para fetch con info de matricula */
  
  
   label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 91px;
    cursor:context-menu;
    padding: 7px 7px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 11px;
  }
  
  input {
  visibility: hidden;
  }
  
  .selectedOption {
    color: white;
    background-color: #56beb7;
  }
  
  .areaFecha{
    width: 100%;
    height:55px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    gap:15px;
  }
  
  .arrows{
    width: 35px;
    height: 35px;
    
  }
  
  .green{
    background-color: green;
  }
  
  .newmsg{
    display: none;
    width: 20px;
    height: 20px;
    padding:5px;
    border-radius: 50%;
    background-color: red;
    color: white;
  
    justify-content: center;
    align-items: center;
    position: relative;
    right:10px;
  }
  
  #divCalendario{
    position: absolute;
    display: flex;
    background-color: rgb(238, 217, 217);
    border-radius: 5px;
    width: 290px;
    height:50px;
    justify-content: center;
    align-items: center;
    left:100px;
  }
  .calendario{
  
    width:50px;
   /* right:70px; */
   cursor: pointer;
  
  }
  
  .calendariobusqueda{
  
  
    width:170px;
   /* right:140px; */
  }
  
  input#fechaExacta{
    border: 1px solid white;border-radius: 8px;;
    padding:2px;
    margin-left: 8px;
    visibility: visible !important;
    width:120px;
    height:20px;
  
  }
  
  